# Данные и модели (управляются через DVC)
/large_data/
/models/

# Логи
/logs/

# Окружение и зависимости
.env
.venv/
venv/
env/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Ноутбуки
.ipynb_checkpoints/

# Логи и базы данных
*.log
*.sql
*.sqlite

# MLflow
mlruns/

# Data
data/*

# Cookiecutter
hack_digital_transformation/
uv.lock
.coverage

# Базы данных 
/full-stack/DB/init/*
